<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href="assets/css/main-style.min.css">
  </head>

  <body>
    <div id='app'>
    <!-- overlay -->
    <div id="overlay" :class='[overlay]' @click='closeDatePicker()'></div>
    <div class='pickDateInput'>
      <input placeholder="انتخاب تاریخ" v-model='chosenDate' @click='openDatePicker()'>
      <input placeholder='قالب تاریخ' v-model='userFormat'>
    </div>

    <!-- calendar(date picker) -->
    <div v-if='pickDate' class='container' id='month'>
  		<div class='calendar jalali-month-calendar'>

        <div class='calendar-header'>
    			<div class='day-number'>
            <span>{{ persianNumber(activeDay) }}</span>
          </div>

          <div class='month-counter'>
            <button class='change-month' @click="previousMonth()"><</button>
            <span @click="selectMonth =! selectMonth;selectYear = false">{{ monthName }}</span>
            <button class='change-month' @click="nextMonth()">></button>
            <p @click="selectYear =! selectYear;selectMonth = false">{{ persianNumber(year)}}</p>
          </div>
        </div>

        <div v-if="selectMonth" class="select-month">
          <div v-for="(month,index) in monthNames">
            <div v-if="month == monthName" class='month active' @click="changeMonth(index)">{{ month }}</div>
            <div v-else class='month' @click="changeMonth(index)">{{ month }}</div>
          </div>
        </div>

        <div v-else-if="selectYear" class="select-year">
          <div class='scroll-box'>
            <div v-for="index in 80">
              <div class='year active' v-if="(year-40+index) == year" @click='changeYear(year-40+index)'> {{persianNumber((year - 40) + index)}} </div>
              <div class='year' v-else @click='changeYear(year-40+index)'> {{persianNumber((year - 40) + index)}} </div>
            </div>
          </div>
        </div>

        <div v-else class="calendar-table">
          <ul class='weekdays'>
            <li>ش</li>
            <li>ی</li>
            <li>د</li>
            <li>س</li>
            <li>چ</li>
            <li>پ</li>
            <li>ج</li>
          </ul>

          <ul class="days">
            <li v-for="day in prevMonthDays">
              <div class='disable'><span>{{ persianNumber(day) }}</span></div>
            </li>
            <li v-for="day in days">
              <div v-if="day == activeDay" class="active" @click="changeDay(day)">
                <span>{{ persianNumber(day) }}</span>
              </div>
              <div v-else @click="changeDay(day)"><span>{{ persianNumber(day) }}</span></div>
            </li>
            <li v-for="day in nextMonthDays">
              <div class='disable'><span>{{ persianNumber(day) }}</span></div>
            </li>
          </ul>
        </div>

        <div class='calendar-footer'>
          <div @click='chooseDate()'>
            <span>تایید</span>
          </div>
          <div @click='goToToday()'>
            <span>برو به امروز</span>
          </div>
          <div @click='closeDatePicker()'>
            <span>انصراف</span>
          </div>
        </div>
    </div>
  </div>
</div>
<br><br><br>
    <!-- Scripts -->

    <!-- Vue CDN script file -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- App Main Script File -->
    <script src="assets/js/date-functions.js"></script>
    <script src="assets/js/datePicker.js"></script>

    </body>
</html>
