@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/Yekan Bakh EN 01 Hairline.eot");
  src: url("fonts/Yekan Bakh EN 01 Hairline.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 01 Hairline.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/Yekan Bakh EN 02 Thin.eot");
  src: url("fonts/Yekan Bakh EN 02 Thin.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 02 Thin.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/Yekan Bakh EN 03 Light.eot");
  src: url("fonts/Yekan Bakh EN 03 Light.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 03 Light.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Yekan Bakh EN 04 Regular.eot");
  src: url("fonts/Yekan Bakh EN 04 Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 04 Regular.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/Yekan Bakh EN 05 Medium.eot");
  src: url("fonts/Yekan Bakh EN 05 Medium.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 05 Medium.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh-bold;
  font-style: normal;
  font-weight: 600;
  src: url("fonts/Yekan Bakh EN 06 Bold.eot");
  src: url("fonts/Yekan Bakh EN 06 Bold.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 06 Bold.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/Yekan Bakh EN 07 Heavy.eot");
  src: url("fonts/Yekan Bakh EN 07 Heavy.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 07 Heavy.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("fonts/Yekan Bakh EN 08 Fat.eot");
  src: url("fonts/Yekan Bakh EN 08 Fat.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 08 Fat.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/Yekan Bakh EN 08 Fat.eot");
  src: url("fonts/Yekan Bakh EN 08 Fat.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 08 Fat.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
@font-face {
  font-family: yekanBakh;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/Yekan Bakh EN 04 Regular.eot");
  src: url("fonts/Yekan Bakh EN 04 Regular.eot?#iefix") format("embedded-opentype"), url("fonts/Yekan Bakh EN 04 Regular.woff") format("woff");
  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}
