@import "_responsible","_style","_variables";

body {
  font-family: yekanBakh !important;
  margin: 0;
}


#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;

  &.open{
    display: block;
  }

  &.close{
    display: none;
  }
}

.pickDateInput{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
  input{
    margin:10px 0;
    border-radius: 5px;
    height: 30px;
    border:none;
    border: 1px solid $c-blue;
    text-align: center;
    font-family: yekanBakh !important;
  }
}

.container{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
}

.calendar{
	background-color: #f2f3f7;
  max-width: 400px;
  width: 80%;
  margin: auto;
	border-radius: 25px;
  box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.14);
  padding: 20px;
  direction: rtl;
  position: relative;
  .calendar-header{
    display: flex;
    align-items: center;
  }

  .select-month{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    div{
      margin: 10px 1%;
      transition: 0.2s all;
      border-radius: 20px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 31%;
      height: 45px;

      &.month{
        border: 2px solid transparent;
        background-color: $c-gray-2;
        box-shadow: $box-shadow-1;
        width: 100%;
        color: $c-gray-3;
        font-size: 15px;
        &.active{
          background-color: $c-blue;
          color: #fff;
        }
        &:hover{
          border-color: $c-blue;
          box-shadow: $box-shadow-2;
        }
      }

    }
  }

  .select-year{
    margin: 30px 0px;
    height: 300px;
    overflow: hidden;
    margin-right: -30px;

    .scroll-box{
      width: 100%;
      height: 100%;
      overflow: scroll;
      padding-right: 17px;
      box-sizing: content-box;
    }

    .year{
      width: 60%;
      height: 50px;
      border-radius:20px;
      margin: 25px auto;
      transition: 0.2s all;
      cursor: pointer;
      color: $c-gray-3;
      border: 2px solid transparent;
      box-shadow: $box-shadow-1;
      display: flex;
      align-items: center;
      justify-content: center;
      &.active{
        background-color: $c-blue;
        color: #fff;
      }
      &:hover{
        border-color: $c-blue;
        box-shadow: $box-shadow-2;
      }
    }

  }

}


.calendar::before{  // blue line in the top of calendar div.
	content: '';
  position: absolute;
  top: 0;
  right: 10%;
	width: 30%;
	height: 2%;
	background-color: $c-blue;
	border-radius: 0px 0px 15px 15px;
}

.jalali-month-calendar{
  .calendar-header{
    margin-top: 20px;
  }
  .day-number{
      display: inline-block;
      font-size: 60px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.55;
      color: #000000;
      text-align: center;
      width: 49%;
  }
  .month-counter{
    display: inline-block;
    white-space: nowrap;
    width: 49%;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.55;
    color: #000000;
    text-align: center;
    margin-left: 0px;
    button{
      background-color: transparent;
      border: none;
      font-size:20px;
      color: #a6a6a6;
      outline: none;
    }
    p{
      line-height: 1;
      margin: 0;
    }
  }

  .calendar-table{
    .weekdays{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      padding: 0;
      li{
        display: inline-block;
        width: 14%;
        color: $c-gray-1;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .days{
      padding: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      transition: 0.2s all;
      li{
        display: inline-block;
        position: relative;
        cursor: pointer;
        width: 12%;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        margin: 1%;
        height: 0;
        padding-bottom: 12%;
        div{
          border-radius: 14px;
          background-color: $c-gray-2;
          box-shadow: $box-shadow-1;
          color: $c-gray-3;
          transition: 0.2s all;
          border: 1px solid transparent;
          width: 100%;
          padding-bottom: 100%;
          &.active{
            color: #fff;
            background-color: $c-blue;
          }
          &.disable,{
            color: #C7C8C1;
            box-shadow: 3px 3px 3px 0 rgba(100, 100, 100, 0.1);
            background-color: #f2f3f7;
            pointer-events: none;
            cursor: none;
          }
          &:hover{
            box-shadow: $box-shadow-2;
            border-color: $c-blue;
          }
        }
        span{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
  }

  .calendar-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
    color: $c-gray-3;
  }

}


/// MEDIA QUARIES
@include respond("xs"){
  .jalali-month-calendar{
    .month-counter{
      font-size: 20px;
      button{
        font-size: 14px;
      }
    }
   .day-number{
      font-size: 40px;
    }
    .calendar-table{
      .days li,
      .weekdays li{
        font-size: 12px;
        div{
          border-radius: 8px;
          box-shadow: $box-shadow-2;
        }
      }
      .weekdays{
        margin-bottom: 0;
      }
      .days{
        margin-top: 0;
      }
    }
    .calendar-footer{
      font-size: 12px;
    }
  }

  .calendar{
    .select-month div{
      border-radius: 15px;
      height: 40px;
      &.month{
        box-shadow: $box-shadow-2;
        font-size: 12px;
      }
    }
    .select-year{
      margin-top: 5px;
      height: 250px;
      .year{
        width: 70%;
        height: 40px;
        font-size: 12px;
        margin: 8px auto;
        border-radius: 15px;
        box-shadow: $box-shadow-2;
      }
    }
  }
}


@include respond("sm"){
  .jalali-month-calendar{
    .month-counter{
      font-size: 30px;
      button{
        font-size: 16px;
      }
    }
    .day-number{
      font-size: 55px;
    }
  }
  .calendar-table{
    .days li,
    .weekdays li{
      font-size: 14px !important;
      border-radius: 6px;
    }
  }
}


@include respond("md"){
  .jalali-month-calendar{

    .month-counter{
      button{
        font-size: 16px;
      }
    }
    .day-number{
      font-size: 70px;
    }
  }
  .calendar-table{
    .days li,
    .weekdays li{
      font-size: 16px !important;
      border-radius: 6px;
    }
  }
}
